<div *ngIf="currentUser">
  <form (ngSubmit)="saveProfile()">
    <label>Username:</label>
    <input type="text" [(ngModel)]="currentUser.username" name="username" />

    <label>Birthdate:</label>
    <input type="date" [(ngModel)]="currentUser.birthdate" name="birthdate" />

    <label>Age:</label>
    <input type="number" [(ngModel)]="currentUser.age" name="age" />

    <label>Email:</label>
    <input type="email" [(ngModel)]="currentUser.email" name="email" />

    <button type="submit">Save Profile</button>
  </form>
</div>
